﻿@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.Templates.PermissionsAssignmentPanelTemplateViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.LocalizedValueFor("RelationDisplay_" + Model.Elements)
    </div>
    <div class="panel-body">
        <div class="form-group">
            <bss-table bss-table-ajax-columns-definition-source="@(new HtmlString(@Model.ColumnsSource))"
                       page-sizes="[5, 10, 20]"
                       bss-table-ajax-paging-data-source="@(new HtmlString(Model.DataSource))">

            </bss-table>
        </div>
    </div>
</div>
