﻿@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.ViewModels.Templates.DetailsPanelTemplateModel

<div class="col-xs-12 col-md-12 col-lg-12"
     ng-controller="@Model.DetailsTypescriptController as vm"
     ng-init="vm.display()">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.LocalizedValueFor("DetailsDisplayTitle_" + Model.Entities)
        </div>
        <div class="panel-body"
             ng-include="'@Url.Action(Model.DetailsAction, Model.Controller)'">
        </div>
    </div>
</div>