﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.ViewModels.Core.PermissionViewModel

<div class="col-xs-12 col-md-6 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Description)
        @Html.PropertyDisplayFor(model => model.Description)
    </div>
</div>