﻿@model  SolvesIt.BSSystem.Web.ViewModels.Core.EntitiesListTemplateViewModel

<div ng-init="section.title='@Html.LocalizedValueFor("ListTitle_Permissons")'; section.ready();" entities="Permission">
    <div class="panel panel-default">
        <div class="panel-body">

            <bss-table bss-table-ajax-columns-definition-source="'@Model.ColumnsSource'"
                       bss-table-eager-ajax-loading-hierarchical-data-source="'@Model.DataSource'"></bss-table>
        </div>
    </div>
</div>