﻿<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default" ng-click="vm.setToday()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    </div>
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default" ng-click="vm.setThisWeek()"><span class="glyphicon glyphicon-th-list"></span></button>
    </div>
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default" ng-click="vm.setThisMonth()"><span class="glyphicon glyphicon-th"></span></button>
    </div>
</div>

<table>
    <tr>
        <td class="remove-padding">
            <button class="btn btn-default btn-xs" style="margin:1px" ng-click="vm.previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </td>
        <td class="bss-callendar-year" style="width: 100%; margin:1px" ng-bind="vm.selectorDisplayCriteria.period.start | dateFormatter:'MMMM YYYY'"></td>
        <td class="remove-padding">
            <button class="btn btn-default btn-xs" style="margin:1px" ng-click="vm.next()"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </td>
    </tr>
</table>
<div class="">
    <div bss-calendar="vm.selectorDisplayCriteria"
         ng-model="vm.displayCriteria"
         ng-style="{height:200}"
         bss-calendar-dates-only
         bss-calendar-view-kinds="SolvesIt.Widgets.Calendar.WeeklyViewKind"
         bss-calendar-default-view-kind="0">
    </div>
</div>