﻿<div ng-init="section.title='@Html.LocalizedValueFor("ListTitle_OtherEntryCalendar")';section.ready();" entities="OwnEntryCalendar"
     ng-controller="ownEntriesCalendarController as vm"
     ad-inject-template
     template-url="'@Url.Action("CalendarBreadcrumbControlPanel")'"
     target-selector=".sidebar-breadcrumb-control">
    <div class="panel panel-default">
        <div class="panel-body">

            <div bss-calendar="vm.displayCriteria"
                 ng-model="vm.calendarState"
                 bss-calendar-ajax-data-source="OtherEntry"
                 bss-calendar-view-kind-selector
                 bss-calendar-proportional-items-distributor>
            </div>
        </div>
    </div>
</div>