﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Areas.Common.Controllers.Api
@using SolvesIt.BSSystem.Web.Areas.Wtt.Controllers.Api
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Date)
        @Html.PropertyEditorFor(model => model.Date)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.User)
        @Html.PropertyEditSelectorFor(model => model.User, source: Url.BssHttpRouteAngularExpression((UserController c) => c.Get()))
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Topic)
        @Html.PropertyEditSelectorFor(model => model.Topic, source: Url.BssHttpRouteAngularExpression((TopicController c) => c.Get()))
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Activity)
        @Html.PropertyEditSelectorFor(model => model.Activity, source: Url.BssHttpRouteAngularExpression((ActivityController c) => c.Get()))
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Minutes)
        @Html.PropertyEditorFor(model => model.Minutes)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyEditTextAreaFor(model => model.Comment)
    </div>
</div>