﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Date)
        @Html.PropertyDisplayFor(model => model.Date)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Topic)
        @Html.PropertyDisplayFor(model => model.Topic.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Activity)
        @Html.PropertyDisplayFor(model => model.Activity.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyDisplayFor(model => model.Comment)
    </div>
</div>