﻿<div class="modal-header">
    <h3 class="modal-title">Uwaga!</h3>
</div>
<div class="modal-body" ng-bind="vm.message">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
</div>