﻿<button ng-if='!item.readOnly' type='button' class='btn btn-danger btn-xs' ng-click='vm.remove(item)'>
    <span class='glyphicon glyphicon-trash'> </span>
</button>
<button ng-if='item.readOnly' type='button' class='btn btn-danger btn-xs' disabled>
    <span class='glyphicon glyphicon-trash'>
    </span>
</button>