﻿<div bss-assignment-editor-validation-error-tooltip-displayer>
    <bss-nullable-form-control template-url='"~/Content/Templates/NullableFormControl/DateElement.tpl.html"'
                               ng-model='item.dateEnd'
                               min-date='item.$minDate'
                               max-date='item.$maxDate'
                               is-open='item.isDateEndOpened'
                               name="{{definition.columnKey}}/{{item.id}}"
                               bss-assignment-editor-value-validator="{{definition.columnKey}}"></bss-nullable-form-control>
</div>
