﻿<div bss-assignment-editor-validation-error-tooltip-displayer
     >
    <bss-selector required
                  single-select="true"
                  ng-change="vm.elementChanged(item)"
                  ng-model="item.element"
                  local-data-source="vm.elementSource"
                  entities="{{vm.$attrs.elements}}"
                  item-template="vm.itemTemplate"
                  name="{{definition.columnKey}}/{{item.id}}" 
                  bss-assignment-editor-value-validator="{{definition.columnKey}}"></bss-selector>
</div>