﻿<div class="panel panel-default">
    <div class="panel-body">
        <bss-table bss-table-ajax-columns-definition-source="vm.getTableConfigurationUrl()"
                   can-configure="true"
                   bss-table-array-data-source="vm.selected"
                   bss-assignment-editor-validator="vm.validationErrors"
                   ng-model="vm.selected"
                   bss-assignment-editor-table-extension>
        </bss-table>
    </div>
</div>