﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Areas.Wtt.Controllers.Api
@using SolvesIt.BSSystem.Web.Areas.Common.Controllers.Api
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryLimitExclusionViewModel

<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.User)
        @Html.PropertyEditSelectorFor(model => model.User, source: Url.BssHttpRouteAngularExpression((UserController c) => c.Get()))
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.PeriodStart)
        @Html.PropertyEditorFor(model => model.PeriodStart,
        additionalViewData: new {max_date=Html.PropertyReferenceFor((SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryLimitExclusionViewModel model)=>model.PeriodEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.PeriodEnd)
        @Html.PropertyEditorFor(model => model.PeriodEnd,
                 additionalViewData: new { min_date = Html.PropertyReferenceFor((SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryLimitExclusionViewModel model) => model.PeriodStart) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { data_datetimepicker_config = "{{ startView:\"day\", minView:\"hour\" }}" })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { data_datetimepicker_config = "{{ startView:\"day\", minView:\"hour\" }}" })
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyEditorFor(model => model.Comment)
    </div>
</div>