﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryLimitExclusionViewModel

<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.User)
        @Html.PropertyDisplayFor(model => model.User.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.PeriodStart)
        @Html.PropertyDisplayFor(model => model.PeriodStart)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.PeriodEnd)
        @Html.PropertyDisplayFor(model => model.PeriodEnd)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyDisplayFor(model => model.Comment)
    </div>
</div>