﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.PositionViewModel

<div class="col-md-6">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyEditorFor(model => model.Name)
    </div>
</div>
<div class="col-md-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
</div>