﻿@using SolvesIt.BSSystem.Web.Areas.Common.Controllers.Api
@using SolvesIt.BSSystem.Web.Controllers
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.SectionViewModel

<div class="col-md-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyEditorFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Parent)
        @Html.PropertyEditSelectorFor(model => model.Parent, source: Url.BssHttpRouteAngularExpression((SectionController s) => s.Get()))
    </div>
</div>
<div class="col-md-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
</div>