﻿<div ng-init="section.title='@Html.LocalizedValueFor("SectionsManagementSTitle")'; section.ready();">
    <bss-hierarchical-tree source="vm.sections"
                           children-property="children"
                           loader="vm.loadChildren(item)"
                           column-definition="vm.columnDefinition">
    </bss-hierarchical-tree>
</div>