﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.SectionViewModel

<div class="col-xs-12 col-md-6 col-lg-6">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyDisplayFor(model => model.Name)
    </div>

    <div class="form-group" ng-if="@Html.PropertyReferenceFor(x => x.Parent)">
        @Html.LocalizedLabelFor(model => model.Parent.DisplayName)
        @Html.PropertyDisplayFor(model => model.Parent.DisplayName)
    </div>
</div>

<div class="col-xs-12 col-md-6 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>
</div>