﻿<div ng-init="section.title='@Html.LocalizedValueFor("ListTitle_Section")'; section.entities='Section'; section.icon='Section'; section.ready();" entities="Section">
    <bss-table bss-table-ajax-columns-definition-source="'@Model.ColumnsSource'"
               bss-table-ajax-loading-hierarchical-data-source="'@Model.DataSource'">
    </bss-table>
</div>