﻿<div class="input-group"
     ad-popup-in-body
     popup-style="width: 300px;"
     template-url="vm.popupTemplate"
     is-open="vm.isOpen">
    <input type="text"
           class="form-control"
           ng-model="vm.textModel"
           ng-model-options="{ updateOn: 'blur' }"
           is-open="vm.isOpen"
           ng-change="vm.onTextChange()"
           ng-disabled="vm.disabled" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-date" ng-click="vm.toggleOpen($event)" ng-disabled="vm.disabled">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>