﻿<table class="bss-calendar-grid">
    <thead>
        <tr>
            <th ng-class="vm.state.viewKind.crossHeaderClasses" ng-if="vm.state.viewKind.rowHeaderTemplateUrl"></th>

            <th class="bss-calendar-grid-column-header"
                ng-repeat="cell in vm.state.viewKind.columnHeders"
                ng-class="cell.headerClasses"
                ng-style="cell.headerStyle"
                ng-include="vm.state.viewKind.columnHeaderTemplateUrl"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="bss-calendar-grid-row" ng-repeat="row in vm.state.viewKind.rows" ng-class="row.classes" ng-style="row.styles">

            <td ng-class="vm.state.viewKind.rowHeaderClasses" ng-include="vm.state.viewKind.rowHeaderTemplateUrl" ng-if="vm.state.viewKind.rowHeaderTemplateUrl"></td>
            <td class="bss-calendar-grid-cell"
                ng-mousedown="vm.cellMouseDown(cell,$event)"
                ng-mouseup="vm.cellMouseUp(cell,$event)"
                ng-mouseenter="vm.mouseEnter(cell,$event)"
                ng-mouseexit="vm.mouseExit(cell,$event)"
                ng-mousemove="vm.mouseMove(cell,$event)"
                ng-repeat="cell in row.cells"
                ng-class="vm.merge(cell.classes, { 'bss-calendar-today': vm.isToday(cell.date) })"
                ng-style="cell.styles"
                ng-include="vm.state.viewKind.cellTemplateUrl"></td>
        </tr>
    </tbody>
</table>