﻿<div ad-bind-template-url-to-scope
     parent-scope="vm.parentScope"
     style="width:100%; height:100%"
     class="bss-calendar-item"
     template-url="distributedItem.isPhantom? vm.state.displayCriteria.viewKindsConfiguration[vm.state.viewKind.name].phantomItemTemplateUrl : vm.itemsDistributor.getItemTemplateUrl(distributedItem)"
     parameters="{item: distributedItem.item}">
</div>
<div ng-if="vm.state.displayCriteria.viewKindsConfiguration[vm.state.viewKind.name].canAdjustDurationByDragging && (distributedItem.item.isLocked === false || distributedItem.item.isLocked === undefined)"
     class="bss-calendar-drag-indicator"
     ng-mousedown="vm.durationAdjusterMouseDown(distributedItem, $event)"></div>