﻿<div class="bss-calendar-outer-container" ng-mouseleave="vm.cancelDrag()">
    <span class="pull-right glyphicon glyphicon-cog"
          ng-if="vm.canConfigure"
          ng-click="vm.toggleConfigurationPanel()"
          ad-popup-in-body
          template-url="vm.configurationPanelTemplate"
          is-open="vm.isConfigurationPanelOpen"
          anchor-vertically="right">
    </span>
    <div class="bss-calendar-container"
         ng-include="vm.bodyTemplate"
         ng-class="vm.state.viewKind.viewClass">
    </div>
    <div class="bss-calendar-background-container"
         ng-include="vm.state.viewKind.backgroundTemplateUrl"
         ng-class="vm.state.viewKind.viewClass">
    </div>
    <div class="row" ng-include="vm.footerTemplate" ng-if="vm.footerTemplate">
    </div>
</div>