﻿<tr data-ng-repeat="item in vm.state.items.list" ng-style="{opacity:vm.state.isLoading ? 0.3 : 1}">
    <td nowrap data-ng-repeat="definition in vm.state.tableConfiguration.columnDefinition" ng-class="{'actions-column':definition.isActionsColumn, 'multiline-column':definition.isMultilineColumn}"
        ng-style="{'width': definition.width}"
        ng-include="vm.tableCellTemplate"></td>
</tr>