﻿<div ng-if="definition.templateUrl">
    <div ad-bind-template-url-to-scope parameters="{item:item,definition:definition}" parent-scope="vm.parentScope" template-url="definition.templateUrl"></div>
</div>
<div ng-if="definition.template">
    <div ad-bind-template-to-scope parameters="{item:item,definition:definition}" parent-scope="vm.parentScope" template="definition.template">
    </div>
</div>
<div ng-if="!definition.templateUrl && !definition.template">
    {{ vm.readProperty(item, definition.displayProperty) }}
</div>