﻿<div>
    <div ng-if="vm.canSort" ng-controller="bssTableOrderConfigurationPanelController as vm" ng-init="vm.orderProperties = $parent.vm.state.orderProperties; vm.tableConfiguration = $parent.vm.state.tableConfiguration">
        <bss-table bss-table-state-cache="$parent.vm.cacheId ? $parent.vm.cacheId + '_order':null"
                   bss-table-ajax-columns-definition-source="'~/api/List/Configuration/OrderPropertiesColumnsConfiguration'"
                   bss-table-array-data-source="vm.orderProperties">
        </bss-table>
    </div>
</div>