﻿<tr class="ad-user-select-none">
    <th data-ng-repeat="definition in vm.state.tableConfiguration.columnDefinition"
        ng-class="{'ad-cursor-pointer': definition.sortKey, 'actions-column':definition.isActionsColumn}"
        ng-style="{'width': definition.width}"
        ng-include="vm.tableHeaderCellTemplate">
    </th>
</tr>