﻿<div ng-if="definition.filter" class="pull-left">
    <b ng-click="toggleFilter(definition)"><span class="glyphicon glyphicon-filter"></span></b>
    <div id="filter{{definition.filter.id}}" class="panel panel-default filter" ng-if="definition.filter.isFilterVisible">
        <ng-include src="'~/Content/Lib/adapt/Templates/FilterTemplates/' + definition.filter.valueType + 'Filter.tpl.html'"></ng-include>
    </div>
</div>
<div ng-click="vm.sortByColumn(definition)"
     class="pull-left"
     ng-if="definition.sortKey && vm.isSorted(definition)">
    <b>
        <span class="glyphicon" ng-class="{'glyphicon-sort-by-attributes':!vm.isSortOrderDescending(definition),'glyphicon-sort-by-attributes-alt':vm.isSortOrderDescending(definition)}"></span>
    </b>
</div>
<div ng-click="vm.sortByColumn(definition)"
     class="pull-left"
     ng-if="definition.sortKey && !vm.isSorted(definition)">
    <b>&#8900;</b>
</div>
<div ng-click="vm.sortByColumn(definition)"
     ng-if="definition.columnHeaderTemplate" style="white-space: nowrap;">
    <div ad-bind-template-to-scope parameters="{definition:definition}"
         parent-scope="vm.parentScope"
         template="definition.columnHeaderTemplate"></div>
</div>

<div ng-click="vm.sortByColumn(definition)"
     ng-if="definition.columnHeaderTemplateUrl" style="white-space: nowrap;">
    <div ad-bind-template-url-to-scope parameters="{definition:definition}" parent-scope="vm.parentScope" template-url="definition.columnHeaderTemplateUrl"></div>
</div>

<div ng-click="vm.sortByColumn(definition)"
     ng-if="definition.columnHeaderDisplayName" style="white-space: nowrap;"
     ng-bind="definition.columnHeaderDisplayName" ng-class="{'sortable-column':definition.sortKey}"></div>