﻿<tr data-ng-repeat="item in vm.state.items.list" ng-style="{opacity:vm.isLoading ? 0.3 : 1}">
    <td ng-if="vm.state.tableConfiguration.isInlineEdit" style="width: 1px;">
        <div class="btn-group" role="group" aria-label="..." style="min-width: 45px;"
             ng-if="!item.$isEdited && !isAnyEdit() && !inDeleting">
            <!--edit-->
            <button type="button" class="btn btn-primary btn-xs" ng-click="beginEdit(vm, item)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <!--delete-->
            <button type="button"
                    class="btn btn-danger btn-xs"
                    data-toggle="modal"
                    data-target="#basicModal"
                    ng-click="deleteConfirmation({ vm: vm, item: item })">
                <!--ng-click="deleteItem(vm, item)">-->
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="..." style="min-width: 45px;"
             ng-if="item.$isEdited">
            <!--Save-->
            <button type="button"
                    class="btn btn-success btn-xs"
                    ng-click="saveItem(vm)"
                    ng-disabled="!formController.$valid">
                <span class=" glyphicon glyphicon-ok">
                </span>
            </button>
            <!--Cancel-->
            <button type="button" class="btn btn-warning btn-xs" ng-click="cancelEdit(vm, item)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <checkbox ng-model="item.$toDelete" ng-if="inDeleting">
        </checkbox>
    </td>
    <td data-ng-repeat="definition in vm.state.tableConfiguration.columnDefinition" ng-class="{'actions-column':definition.isActionsColumn, 'multiline-column':definition.isMultilineColumn}"
        ng-style="{'width': definition.width}"
        ng-include="vm.tableCellTemplate"></td>
</tr>