﻿<tr class="ad-user-select-none">
    <th>
        <div class="btn-group" role="group" aria-label="..." style="min-width: 45px;"
             ng-if="!isAnyEdit() && !inDeleting">
            <button type="button" class="btn btn-primary btn-xs" ng-click="addItem(vm)" ng-if="!isAnyEdit()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

            <button type="button" class="btn btn-danger btn-xs" ng-click="toogleDeletingState()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="..." style="min-width: 45px;"
             ng-if="inDeleting">
            <!--Save-->
            <button type="button" class="btn btn-success btn-xs" ng-click="deleteConfirmation({vm: vm})">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <!--Cancel-->
            <button type="button" class="btn btn-warning btn-xs" ng-click="cancelDeleting()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </th>

    <th data-ng-repeat="definition in vm.state.tableConfiguration.columnDefinition"
        ng-class="{'ad-cursor-pointer': definition.sortKey , 'actions-column':definition.isActionsColumn}"
        ng-style="{'width': definition.width}"
        ng-include="vm.tableHeaderCellTemplate">
    </th>
</tr>