﻿<div class="ad-table-ajax-container">
    <span class="pull-right glyphicon glyphicon-cog"
          ng-if="vm.canConfigure"
          ng-click="vm.toggleConfigurationPanel()"
          ad-popup-in-body
          template-url="vm.configurationPanelTemplate"
          is-open="vm.isConfigurationPanelOpen"
          anchor-vertically="right">
    </span>
    <div class="ad-table-container" ng-include="vm.tableTemplate">
    </div>
    <div class="row" ng-include="vm.footerTemplate" ng-if="vm.footerTemplate">
    </div>
    <span ng-if="!vm.state.items.list || vm.state.items.list.length == 0">Brak danych</span>
</div>