﻿<div class="col-md-8 col-sm-8" ng-if="vm.items.list && vm.items.list.length">
    <div class="pull-left"
         ng-class="vm.items.loader.paginationBtnGroupClasses"
         ng-show="vm.items.paging.totalPages > 1">
        <ul class="pagination pagination-sm">
            <li>
                <a href=""
                   ng-click="vm.items.loader.loadItems(1)"
                   ng-disabled="vm.items.paging.currentPage == 1">
                    &laquo;
                </a>
            </li>
            <li>
                <a href=""
                   ng-click="vm.items.loader.loadPreviousPage()"
                   ng-disabled="vm.items.paging.currentPage == 1">
                    &lsaquo;
                </a>
            </li>
            <li ng-repeat="page in localConfig.pagingArray"
                ng-class="{active: vm.items.paging.currentPage == page}">
                <a href=""
                   ng-click="vm.items.loader.loadItems(page)">
                    {{ page }}
                </a>
            </li>
            <li>
                <a href=""
                   ng-click="vm.items.loader.loadNextPage()"
                   ng-disabled="vm.items.paging.currentPage == vm.items.paging.totalPages">
                    &rsaquo;
                </a>
            </li>
            <li>
                <a ng-click="vm.items.loader.loadLastPage()"
                   ng-disabled="vm.items.paging.currentPage == vm.items.paging.totalPages">
                    <span>({{items.paging.totalPages}})  &raquo; </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4 col-sm-4">
    <div class="pull-right"
         ng-class="attrs.paginationBtnGroupClasses">
        <ul class="pagination pagination-sm">
            <li ng-repeat="size in vm.items.paging.pageSizes"
                ng-class="{active: vm.items.paging.pageSize == size}">
                <a href=""
                   ng-click="vm.items.loader.pageSizeChanged(size)">
                    {{ size }}
                </a>
            </li>
        </ul>
    </div>
</div>