﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.ActivityViewModel

<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.ActivityKind)
        @Html.PropertyDisplayFor(model => model.ActivityKind.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyDisplayFor(model => model.Name)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyDisplayFor(model => model.Comment)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Color)
        <div style="width:100px; height:40px; text-align: center" ng-style="{'background-color':@Html.PropertyReferenceFor(model=>model.Color)}">
            <div style="transform: translateY(70%);" ng-bind="@Html.PropertyReferenceFor(model=>model.Color)"></div>
        </div>
    </div>
</div>