﻿<table>
    <tr>
        <td class="remove-padding">
            <button class="btn btn-default btn-xs" style="margin:1px" ng-click="vm.previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </td>
        <td class="bss-callendar-year" style="width: 100%; margin:1px" ng-bind="vm.selectorDisplayCriteria.period.start | dateFormatter:'MMMM YYYY'"></td>
        <td class="remove-padding">
            <button class="btn btn-default btn-xs" style="margin:1px" ng-click="vm.next()"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </td>
    </tr>
</table>
<div>
    <div bss-calendar="vm.selectorDisplayCriteria"
         ng-model="vm.ngModel"
         bss-calendar-dates-only
         bss-full-day-selection-displayer
         bss-calendar-view-kinds="SolvesIt.Widgets.Calendar.WeeklyViewKind"
         bss-calendar-default-view-kind="0">
    </div>
</div>