﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.OrganizationViewModel

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>
   
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyEditorFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.FullName)
        @Html.PropertyEditorFor(model => model.FullName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.VatNumber)
        @Html.PropertyEditorFor(model => model.VatNumber)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
   
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.CountryCode)
        @Html.PropertyEditorFor(model => model.CountryCode)
    </div>
    
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.OfficialNumber)
        @Html.PropertyEditorFor(model => model.OfficialNumber)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.StatisticNumber)
        @Html.PropertyEditorFor(model => model.StatisticNumber)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Phone)
        @Html.PropertyEditorFor(model => model.Phone)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Fax)
        @Html.PropertyEditorFor(model => model.Fax)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Email)
        @Html.PropertyEditorFor(model => model.Email)
    </div>
</div>