﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.OrganizationViewModel

<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyDisplayFor(model => model.Name)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.FullName)
        @Html.PropertyDisplayFor(model => model.FullName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.CountryCode)
        @Html.PropertyDisplayFor(model => model.CountryCode)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.VatNumber)
        @Html.PropertyDisplayFor(model => model.VatNumber)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.OfficialNumber)
        @Html.PropertyDisplayFor(model => model.OfficialNumber)
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.StatisticNumber)
        @Html.PropertyDisplayFor(model => model.StatisticNumber)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Phone)
        @Html.PropertyDisplayFor(model => model.Phone)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Fax)
        @Html.PropertyDisplayFor(model => model.Fax)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Email)
        @Html.PropertyDisplayFor(model => model.Email)
    </div>
</div>