﻿// Variables, mixins
@icon-light-color: "bwhite";
@icon-normal-color: "dblue";
@icon-hover-color: "lorange";
@icon-disabled-color: "lgray";
@imagesPath: "Images";

@small-icon-size: 20px;
@medium-icon-size: 24px;
@large-icon-size: 34px;
@large-icon-size-glyph: 24px;
@medium-icon-size-glyph: 20px;
@small-icon-size-glyph: 16px;

.icon_background_position(@xOfset: 0, @yOfset: 0, @icon-size: 24) {
    background-position: -@xOfset*@icon-size -@yOfset*@icon-size;
}

.icon_layout(@icon-size) {
    height: @icon-size;
    width: @icon-size;
    vertical-align: middle;
    align-content: center;
    //display: inline-block;
    overflow: hidden;
    font-size: @icon-size;
    // text-indent: -99999px;
}

.icon_layout-menu(@icon-size) {
    height: @icon-size + 4px;
    width: @icon-size + 6px;
    vertical-align: middle;
    align-content: center;
    display: inline-block;
    font-size: @icon-size;
    // text-indent: -99999px;
}

a.large-icon:hover {
    background-image: url("@{imagesPath}/icons-large-@{icon-hover-color}.png");
}

.large-icon {
    //background-image: url("@{imagesPath}/icons-large-@{icon-normal-color}.png");
    &.light {
        background-image: url("@{imagesPath}/icons-large-@{icon-light-color}.png");
    }

    &.hover {
        background-image: url("@{imagesPath}/icons-large-@{icon-hover-color}.png");
    }

    &.disabled {
        background-image: url("@{imagesPath}/icons-large-@{icon-disabled-color}.png");
    }

    .icon_layout-menu(@large-icon-size-glyph);

    .large_icon_background_position(@xOfset: 0, @yOfset: 0) {
        .icon_background_position(@xOfset, @yOfset, @large-icon-size);
    }

    &.administration:before {
        .fa;
        content: @fa-var-cogs;
    }

    &.topic {
        .large_icon_background_position(7, 1);
    }

    &.activity {
        .large_icon_background_position(7, 2);
    }

    &.ownentrycalendar {
        .large_icon_background_position(2, 0);
    }

    &.entry {
        .large_icon_background_position(7, 0);
    }

    &.otherentrycalendar {
        .large_icon_background_position(2, 0);
    }

    &.profile:before {
        .fa;
        content: @fa-var-user;
    }

    &.users:before {
        .fa;
        content: @fa-var-users;
    }

    &.user:before {
        .fa;
        content: @fa-var-user;
    }

    &.permission {
        .large_icon_background_position(3, 8);
    }

    &.roledefinition {
        .large_icon_background_position(0, 2);
    }

    &.position {
        .large_icon_background_position(6, 6);
    }

    &.section {
        .large_icon_background_position(6, 5);
    }

    &.system {
        .large_icon_background_position(4, 1);
    }

    &.user-topics {
        .large_icon_background_position(6, 1);
    }

    &.changepassword:before {
        .fa;
        content: @fa-var-exclamation-circle;
    }

    &.personal-statistics {
        .large_icon_background_position(1, 3);
    }

    &.user-statistics {
        .large_icon_background_position(6, 3);
    }

    &.topics-statistics {
        .large_icon_background_position(6, 4);
    }

    &.statistics {
        .large_icon_background_position(0, 9);
    }

    &.userspubliclist {
        .large_icon_background_position(1, 0);
    }

    &.topics-list {
        .large_icon_background_position(5, 8);
    }

    &.sectionspubliclist {
        .large_icon_background_position(4, 7);
    }

    &.ownentrylist {
        .large_icon_background_position(7, 0);
    }

    &.otherentrylist {
        .large_icon_background_position(7, 0);
    }

    &.file {
        .large_icon_background_position(0, 5);
    }

    &.create {
        .large_icon_background_position(1, 7);
    }

    &.expand {
        .large_icon_background_position(1, 7);
    }

    &.contract {
        .large_icon_background_position(0, 7);
    }

    &.details {
        .large_icon_background_position(6, 9);
    }

    &.assign {
        .large_icon_background_position(5, 1);
    }

    &.update {
        .large_icon_background_position(3, 2);
    }

    &.edit {
        .large_icon_background_position(3, 2);
    }

    &.delete {
        .large_icon_background_position(2, 7);
    }

    &.date {
        .large_icon_background_position(2, 0);
    }

    &.action {
        .large_icon_background_position(4, 1);
    }

    &.tree-level {
        .large_icon_background_position(7, 3);
    }

    &.tree-node {
        .large_icon_background_position(7, 4);
    }

    &.clear {
        .large_icon_background_position(2, 7);
    }

    &.logout {
        .large_icon_background_position(3, 3);
    }

    &.lists {
        .large_icon_background_position(0, 4);
    }
    /*&.administration:before {
        .fa;
        content:@fa-var-cogs;
    }*/
    &.settings:before {
        .fa;
        content: @fa-var-wrench;
    }

    &.entries:before {
        .fa;
        content: @fa-var-clock-o;
    }

    &.organization {
        .large_icon_background_position(7, 6);
    }

    &.signdefinition {
        .large_icon_background_position(7, 5);
    }

    &.topicKinds {
        /*.fa;
        .fa-adjust;*/
        /*.glyphicon;
         .glyphicon-asterisk;*/
        /*.large_icon_background_position(4, 0);*/
    }

    &.kind {
        .large_icon_background_position(4, 0);
    }

    &.entrylimitexclusion {
        .large_icon_background_position(4, 0);
    }
}

a.medium-icon:hover {
    background-image: url("@{imagesPath}/icons-medium-@{icon-hover-color}.png");
}

.medium-icon {
    //background-image: url("@{imagesPath}/icons-medium-@{icon-normal-color}.png");
    &.light {
        background-image: url("@{imagesPath}/icons-medium-@{icon-light-color}.png");
    }

    &.hover {
        background-image: url("@{imagesPath}/icons-medium-@{icon-hover-color}.png");
    }

    &.disabled {
        background-image: url("@{imagesPath}/icons-medium-@{icon-disabled-color}.png");
    }

    .icon_layout-menu(@medium-icon-size-glyph);

    .medium-icon_background_position(@xOfset: 0, @yOfset: 0) {
        .icon_background_position(@xOfset, @yOfset, @medium-icon-size);
    }

    &.topic:before {
        .fa;
        content: @fa-var-book;
        //.medium-icon_background_position(7, 1);
    }

    &.activity:before {
        .fa;
        content: @fa-var-tasks;
        // .medium-icon_background_position(7, 2);
    }

    &.ownentrycalendar:before {
        .fa;
        content: @fa-var-calendar;
        //.medium-icon_background_position(2, 0);
    }

    &.entry {
        .medium-icon_background_position(7, 0);
    }

    &.otherentrycalendar:before {
        .fa;
        content: @fa-var-calendar;
    }

    &.profile:before {
        .fa;
        content: @fa-var-user;
    }

    &.users:before {
        // .medium-icon_background_position(6, 2);
        .fa;
        content: @fa-var-users;
    }

    &.user:before {
        .fa;
        content: @fa-var-user;
    }

    &.permission:before {
        .fa;
        content: @fa-var-key;
        //.medium-icon_background_position(3, 8);
    }

    &.roledefinition:before {
        .fa;
        content: @fa-var-unlock-alt;
        //.medium-icon_background_position(0, 2);
    }

    &.position {
        .glyphicon;
        .glyphicon-tower;
        //.medium-icon_background_position(6, 6);
    }

    &.section:before {
        .fa;
        content: @fa-var-sitemap
        //.medium-icon_background_position(6, 5);
    }

    &.system {
        .medium-icon_background_position(4, 1);
    }

    &.user-topics {
        .medium-icon_background_position(6, 1);
    }

    &.changepassword:before {
        .fa;
        content: @fa-var-exclamation-circle;
    }

    &.personal-statistics {
        .medium-icon_background_position(1, 3);
    }

    &.user-statistics {
        .medium-icon_background_position(6, 3);
    }

    &.topics-statistics {
        .medium-icon_background_position(6, 4);
    }

    &.statistics {
        .medium-icon_background_position(0, 9);
    }

    &.userspubliclist {
        .medium-icon_background_position(1, 0);
    }

    &.topics-list {
        .medium-icon_background_position(5, 8);
    }

    &.sectionspubliclist {
        .medium-icon_background_position(4, 7);
    }

    &.ownentrylist {
        .glyphicon;
        .glyphicon-list-alt;
    }

    &.otherentrylist {
        .glyphicon;
        .glyphicon-list-alt;
    }

    &.file {
        .medium-icon_background_position(0, 5);
    }

    &.create {
        .medium-icon_background_position(1, 7);
    }

    &.expand {
        .medium-icon_background_position(1, 7);
    }

    &.contract {
        .medium-icon_background_position(0, 7);
    }

    &.details {
        .medium-icon_background_position(6, 9);
    }

    &.assign {
        .medium-icon_background_position(5, 1);
    }

    &.update {
        .medium-icon_background_position(3, 2);
    }

    &.edit {
        .medium-icon_background_position(3, 2);
    }

    &.delete {
        .medium-icon_background_position(2, 7);
    }

    &.date {
        .medium-icon_background_position(2, 0);
    }

    &.action {
        .medium-icon_background_position(4, 1);
    }

    &.tree-level {
        .medium-icon_background_position(7, 3);
    }

    &.tree-node {
        .medium-icon_background_position(7, 4);
    }

    &.clear {
        .medium-icon_background_position(2, 7);
    }

    &.lists {
        .medium-icon_background_position(0, 4);
    }

    &.administration {
        .medium-icon_background_position(5, 7);
    }

    &.entries {
        .medium-icon_background_position(2, 0);
    }

    &.organization {
        .glyphicon;
        .glyphicon-globe;
        // .medium-icon_background_position(7, 6);
    }

    &.signdefinition {
        .glyphicon;
        .glyphicon-text-background;
        // .medium-icon_background_position(7, 5);
    }

    &.logout:before {
        .fa;
        content: @fa-var-power-off;
    }

    &.topicKinds:before {
        .fa;
        content: @fa-var-bookmark;
        //.medium-icon_background_position(4, 0);
    }

    &.activityKinds:before {
        .fa;
        content: @fa-var-bookmark-o;
        //.medium-icon_background_position(4, 0);
    }

    &.entrylimitexclusion {
        .glyphicon;
        .glyphicon-asterisk;
    }
}

a.small-icon:hover {
    background-image: url("@{imagesPath}/icons-small-@{icon-hover-color}.png");
}

.small-icon {
    background-image: url("@{imagesPath}/icons-small-@{icon-normal-color}.png");

    &.light {
        background-image: url("@{imagesPath}/icons-small-@{icon-light-color}.png");
    }

    &.hover {
        background-image: url("@{imagesPath}/icons-small-@{icon-hover-color}.png");
    }

    &.disabled {
        background-image: url("@{imagesPath}/icons-small-@{icon-disabled-color}.png");
    }

    .icon_layout(@small-icon-size-glyph);

    .small_icon_background_position(@xOfset: 0, @yOfset: 0) {
        .icon_background_position(@xOfset, @yOfset, @small-icon-size);
    }

    &.topic:before {
        .fa;
        content: @fa-var-book;
    }

    &.activity:before {
        .fa;
        content: @fa-var-tasks;
    }

    &.ownentrycalendar:before {
        .fa;
        content: @fa-var-calendar;
    }

    &.otherentrycalendar:before {
        .fa;
        content: @fa-var-calendar;
    }

    &.ownentrylist, &.ownentry {
        .glyphicon;
        .glyphicon-list-alt;
    }

    &.otherentrylist, &.otherentry {
        .glyphicon;
        .glyphicon-list-alt;
    }

    &.users:before {
        .fa;
        content: @fa-var-users;
    }

    &.topicKinds:before, &.topickind:before {
        .fa;
        content: @fa-var-bookmark;
        //.medium-icon_background_position(4, 0);
    }

    &.activityKinds:before, &.activitykind:before {
        .fa;
        content: @fa-var-bookmark-o;
        //.medium-icon_background_position(4, 0);
    }

    &.entrylimitexclusion {
        .glyphicon;
        .glyphicon-asterisk;
    }

    &.delete:before {
        .fa;
        content: @fa-var-times;
    }

    &.entry {
        .small_icon_background_position(7, 0);
    }

    &.signdefinition {
        .glyphicon;
        .glyphicon-text-background;
        // .medium-icon_background_position(7, 5);
    }

    &.organization {
        .glyphicon;
        .glyphicon-globe;
        // .medium-icon_background_position(7, 6);
    }

    &.profile:before {
        .fa;
        content: @fa-var-user;
    }

    &.permission:before {
        .fa;
        content: @fa-var-key;
        //.medium-icon_background_position(3, 8);
    }

    &.roledefinition:before {
        .fa;
        content: @fa-var-unlock-alt;
        //.medium-icon_background_position(0, 2);
    }

    &.position {
        .glyphicon;
        .glyphicon-tower;
        //.medium-icon_background_position(6, 6);
    }

    &.section:before {
        .fa;
        content: @fa-var-sitemap
        //.medium-icon_background_position(6, 5);
    }

    &.user:before {
        .fa;
        content: @fa-var-user;
    }

    &.system {
        .small_icon_background_position(4, 1);
    }

    &.user-topics {
        .small_icon_background_position(6, 1);
    }

    &.changepassword:before {
        .fa;
        content: @fa-var-exclamation-circle;
    }

    &.personal-statistics {
        .small_icon_background_position(1, 3);
    }

    &.user-statistics {
        .small_icon_background_position(6, 3);
    }

    &.topics-statistics {
        .small_icon_background_position(6, 4);
    }

    &.statistics {
        .small_icon_background_position(0, 9);
    }

    &.userspubliclist {
        .small_icon_background_position(1, 0);
    }

    &.topics-list {
        .small_icon_background_position(5, 8);
    }

    &.sectionspubliclist {
        .small_icon_background_position(4, 7);
    }

    &.file {
        .small_icon_background_position(0, 5);
    }

    &.create {
        .small_icon_background_position(1, 7);
    }

    &.expand {
        .small_icon_background_position(1, 7);
    }

    &.waiting {
        .small_icon_background_position(5, 3);
    }

    &.contract {
        .small_icon_background_position(0, 7);
    }

    &.details {
        .small_icon_background_position(6, 9);
    }

    &.assign {
        .small_icon_background_position(5, 1);
    }

    &.update {
        .small_icon_background_position(3, 2);
    }

    &.edit {
        .small_icon_background_position(3, 2);
    }

    &.date {
        .small_icon_background_position(2, 0);
    }

    &.action {
        .small_icon_background_position(4, 1);
    }

    &.tree-level {
        .small_icon_background_position(7, 3);
    }

    &.tree-node {
        .small_icon_background_position(7, 4);
    }

    &.clear {
        .small_icon_background_position(2, 7);
    }

    &.lists {
        .small_icon_background_position(0, 4);
    }

    &.administration {
        .small_icon_background_position(5, 7);
    }

    &.entries {
        .small_icon_background_position(2, 0);
    }

    &.logout {
        .small_icon_background_position(3, 3);
    }

    &.sortable {
        .small_icon_background_position(2, 6);
    }

    &.ascending {
        .small_icon_background_position(5, 9);
    }

    &.descending {
        .small_icon_background_position(4, 9);
    }
}