﻿//@import "..\Lib\Bootstrap\variables.less";

//from bootstrap mixins
.reset-filter() {
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.filter {
    position: fixed;
    padding: 5px;
    top: auto;
}

.btn-filter {
    float: right;
    margin-top: 5px;
}

.filter-input {
    margin-top: 5px;
}

.multiline-column {
    white-space: normal;
}

td {
    white-space: nowrap;
}

.selector {
    min-width: 135px;
}

.selector-list {
    max-height: 200px;
    min-width: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;

    a:hover, a:focus {
        text-decoration: none;
        background-color: @gray-lighter;
    }

    a:active, li.active {
        text-decoration: none;
        background-color: @gray-lightest;
    }
}

div.left-edit {
    padding-right: 5px;
}

textarea.form-control.vertical-resize {
    resize: vertical;
    max-height: 400px;
}

span.input-group-addon.checkbox-nullable {
    padding: 3px 6px;
}

.sortable-column {
    margin-left: 12px;
}

label:after {
    content: ":";
}

.panel-heading {
    font-weight: bold;

    & label {
        padding-left: 5px;

        &:after {
            content: "";
        }
    }
}

.form-control-static {
    padding-left: 20px;
}

.color-placeholder {
    width: 60px;
    height: 20px;
}

.btn.btn-date {
    padding: 6px 6px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.open > .dropdown-menu {
    padding: 2px;
}

.navbar-toggle-lg.menu-toggle {
    @media (max-width: @grid-float-breakpoint) {
        display: none;
    }
}

.navbar-default .navbar-toggle.menu-toggle, .navbar-toggle-lg.menu-toggle, .navbar-default .navbar-toggle .menu-toggle {
    border-color: darken(@gray-lighter,30%);

    &:hover,
    &:focus {
        background-color: darken(@gray-lighter,10%);
    }

    span.icon-bar {
        background-color: darken(@gray-lighter,30%);
    }
}

.top-dropdown-menu-link.active {
    background-color: @gray-lighter;
    // box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.btn.vertical-stack {
    margin-top: 4px;
}

ul.breadcrumb {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    padding-left: 8px;

    li {
        margin: 0 2px;
        min-height: 34px;
        padding: 5px 8px;
        background: white;
        border: 1px solid @gray-lighter;
        border-radius: 4px;
        box-shadow: 0 1px 3px -1px #4F6383;
        text-decoration: none;

        a {
            padding-right: 2px;
            vertical-align: -webkit-baseline-middle;
            text-decoration: none;
        }

        &.smal-icon {
            vertical-align: bottom;
        }
    }

    li, li + li:before {
        content: "\00a0";
    }

    .active {
        margin: 0 2px;
        min-height: 34px;
        padding: 5px 8px;
        background: none;
        border: 1px solid @gray-lighter;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgb(255, 255, 255), 0 1px 6px -2px #4F6383 inset;

        :hover {
            text-decoration: none;
        }
    }

    li, li + li.active:before, li + li.active:after {
        content: "\00a0";
    }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3), 2px 2px 10px -2px rgba(0, 0, 0, 0.5) inset;
}

.custom-search-form {
    input {
        box-shadow: 0 1px 4px #ffffff, 1px 1px 7px -4px rgba(28, 27, 94,1) inset;
        border: 1px solid @gray-lighter;
    }

    button {
        box-shadow: 0 1px 4px rgb(255, 255, 255,0.2), -1px 2px 10px -2px rgba(37, 36, 87, 0.2) inset;
        background: @gray-lightest;
        border: 1px solid @gray-lighter;

        &:hover,
        &:active,
        &:visited {
            background: darken(@gray-lighter,2%);
            border: 1px solid @gray-lighter;
        }
    }
}

.dropdown-menu {
    padding: 3px;

    input {
        margin-bottom: 3px;
    }

    ul {
        padding: 2px 10px 2px 2px;
    }
    // Links within the dropdown menu
    li {
        > a {
            min-width: 20em;
            padding: 2px 10px;
            clear: both;
            font-weight: normal;
            line-height: @line-height-base;
            color: @dropdown-link-color;
            display: table-cell;
            white-space: nowrap; // prevent links from randomly breaking onto new lines
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: @dropdown-link-hover-color;
            background-color: @dropdown-link-hover-bg;
        }
    }

    .active {
        > a {
            &,
            &:hover,
            &:focus {
                color: @dropdown-link-active-color;
                text-decoration: none;
                outline: 0;
            }
        }
        // &:before{content:"\e084"}
        background-color: @gray-lightest;
    }

    .disabled {
        > a {
            &,
            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
                background-image: none; // Remove CSS gradient
                .reset-filter();
                cursor: not-allowed;
            }
        }

        color: @dropdown-link-disabled-color;
    }
}

.dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: red;
        text-decoration: none;
        outline: 0;
        background-color: orange;
    }
}

.waiting-for-angular {
    display: none;
}

.input-datepicker {
    width: 140px;
}

.ng-invalid:not(form),
.ng-invalid:not(form) input,
.ng-invalid:not(form) > .btn-group,
.ng-invalid:not(form) > .btn-group > .btn {
    &.ng-invalid-required:not(form),
    &.ng-invalid-required:not(form) input,
    &.ng-invalid-required:not(form) > .btn-group,
    &.ng-invalid-required:not(form) > .btn-group > .btn {
        background-color: #ffffde;
    }

    background-color: #ffdede;
}

.glyphicon-space:before {
    content: "\00A0";
}

a:hover.glyphicon  {
    text-decoration: none;
}

.validationSummary {
    padding: 5px;
    color: red;
}

.alert {
    margin-bottom: 0px;
}

.remove-padding {
    padding: 0px;
}
