﻿.bss-calendar-outer-container {
    width: 100%;
    height: 100%;
    position: relative;

    .bss-calendar-grid-cross-header {
        width: 40px;
    }

    .bss-calendar-dates-only-cross-header {
        width: 20px;
    }

    .bss-calendar-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;

        .bss-calendar-grid {
            width: 100%;
            height: 100%;
            border: @gray solid 1px;
            table-layout: fixed;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .bss-calendar-grid-column-header {
                border: @gray solid 1px;
                min-height: 20px;
                text-align: center;
                width: auto;
                font-weight: bolder;

                .bss-calendar-free-day {
                    color: @brand-danger;
                }
            }

            .bss-calendar-grid-row {
                padding: 0px;

                .bss-calendar-grid-row-header {
                    border: @gray solid 1px;
                    min-height: 20px;
                }

                .bss-calendar-dates-only-row-header {
                    text-align: center;
                    -ms-transform: rotate(-90deg) translateX(-270%);
                    -webkit-transform: rotate(-90deg) translateX(-270%);
                    transform: rotate(-90deg) translateX(-270%);
                }

                .bss-calendar-grid-cell {
                    border: @gray solid 1px;
                    min-height: 20px;
                    vertical-align: top;
                    position: relative;

                    > div {
                        height: 100%;
                        white-space: normal;
                    }

                    &:first-child {
                        border-left: none;
                    }

                    .bss-calendar-free-day {
                        color: @brand-danger;
                    }

                    .bss-calendar-item {
                        margin-top: 1px;
                        margin-left: 1px;
                        display: inline-block;
                        position: relative;

                        &.bss-calendar-phantom-item {
                            display: block;
                            left: 0;
                        }

                        > div {
                            display: block;
                        }

                        &:hover .bss-calendar-drag-indicator {
                            height: 5px;
                            position: relative;
                            top: -5px;
                            cursor: ns-resize;
                        }
                    }

                    &.bss-calendar-cell-out-of-period {
                        color: @btn-default-border;

                        .bss-calendar-free-day {
                            color: @btn-default-border;
                        }
                    }

                    &.bss-calendar-cell-month-0 {
                        background-color: rgba(255, 252, 252, 0.5);
                    }

                    &.bss-calendar-cell-month-1 {
                        background-color: rgba(251, 252, 244, 0.5);
                    }

                    &.bss-calendar-cell-first-week-in-month {
                        border-top-width: 2px;
                    }

                    &.bss-calendar-cell-first-day-in-month {
                        border-left-width: 2px;

                        &.bss-calendar-cell-first-day-in-week {
                            border-left-width: 1px;
                        }
                    }

                    &.bss-calendar-selected {
                        background-color: rgba(227, 241, 247, 0.5);
                    }

                    &.bss-calendar-today {
                        background-color: rgba(227, 247, 231, 0.5);
                    }

                    &:hover {
                        background-color: rgba(176, 220, 234,0.5);
                    }
                }

                .bss-calendar-grid-dateOnly-cell {
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }
    }

    .bss-calendar-background-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        .bss-calendar-grid-background {
            width: 100%;
            height: 100%;
            border: @gray solid 1px;
            table-layout: fixed;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .bss-calendar-grid-column-header {
                min-height: 20px;
                width: auto;
            }

            .bss-calendar-grid-row-header td {
                vertical-align: bottom;
            }

            .bss-calendar-bachground-master-unit {
                border-top: @gray-lighter dotted 1px;
                text-align: right;
                overflow: visible;

                &:nth-child(2n) {
                    border-bottom: darkgray solid 1px;
                }

                td div {
                    position: relative;

                    div {
                        position: absolute;
                        margin: 0 auto;
                        width: 40px;
                        text-align: center;
                    }
                }
            }

            .bss-calendar-bachground-unit {
                border-bottom: @gray-lighter dotted 1px;

                &:nth-child(2n) {
                    border-bottom: @gray-dark solid 1px;
                }
            }
        }
    }

    .daily-view {
        /*min-height: 300px;*/
        .bss-calendar-grid {
            .bss-calendar-grid-row {
                .bss-calendar-grid-row-header {
                }

                .bss-calendar-grid-cell {
                }
            }
        }
    }

    .weekly-view {
        .bss-calendar-grid {
            .bss-calendar-grid-row {
                .bss-calendar-grid-row-header {
                }

                .bss-calendar-grid-cell {
                }
            }
        }
    }
}

.bss-callendar-year {
    font-weight: bolder;
    text-align: center;
}