﻿@using System.Globalization
<div ng-switch="cell.day" ng-class="{'bss-calendar-free-day':cell.day==0||cell.day==6}">
    <span ng-switch-when="0">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Sunday)</span>
    <span ng-switch-when="1">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Monday)</span>
    <span ng-switch-when="2">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Tuesday)</span>
    <span ng-switch-when="3">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Wednesday)</span>
    <span ng-switch-when="4">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Thursday)</span>
    <span ng-switch-when="5">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Friday)</span>
    <span ng-switch-when="6">@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(DayOfWeek.Saturday)</span>
</div>