﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.ChangePasswordViewModel

<div ng-init="section.title='@Html.LocalizedValueFor("ChangePassword")'; section.icon='changepassword'; section.ready();">

    <form name="form" novalidate role="form">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LocalizedLabelFor(model => model.Password)
                @Html.PropertyEditorFor(model => model.Password, InputKind.Password)
            </div>

            <div class="form-group">
                @Html.LocalizedLabelFor(model => model.NewPassword)
                @Html.PropertyEditorFor(model => model.NewPassword, InputKind.Password)
            </div>

            <div class="form-group">
                @Html.LocalizedLabelFor(model => model.NewPasswordRepeated)
                @Html.PropertyEditorFor(model => model.NewPasswordRepeated, InputKind.Password)
            </div>
        </div>

        <div class="col-md-12 form-group">
            <button class="btn btn-success" ng-click="vm.save()">@Html.LocalizedValueFor("Save")</button>

            <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
        </div>
    </form>
</div>