﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.UserViewModel

<div class="col-md-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.FirstName)
        @Html.PropertyEditorFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Surname)
        @Html.PropertyEditorFor(model => model.Surname)
    </div>
</div>

<div class="col-md-4">
    <div class="form-group" ng-if="!model.isAlias">
        @Html.LocalizedLabelFor(model => model.LoginName)
        @Html.PropertyEditNullableFor(model => model.LoginName, additionalViewData: new { maxlength = "20" })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Mail)
        @Html.PropertyEditNullableFor(model => model.Mail, additionalViewData: new { ng_required = Html.PropertyReferenceFor(model => model.LoginName) })
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Phone)
        @Html.PropertyEditorFor(model => model.Phone)
    </div>
</div>

<div class="col-md-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Location)
        @Html.PropertyEditorFor(model => model.Location)
    </div>
</div>