﻿@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.UserViewModel

<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.FirstName)
        @Html.PropertyDisplayFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Surname)
        @Html.PropertyDisplayFor(model => model.Surname)
    </div>

    <div class="form-group" ng-if="!model.isAlias">
        @Html.LocalizedLabelFor(model => model.LoginName)
        @Html.PropertyDisplayFor(model => model.LoginName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Mail)
        @Html.PropertyDisplayFor(model => model.Mail)
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Phone)
        @Html.PropertyDisplayFor(model => model.Phone)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Location)
        @Html.PropertyDisplayFor(model => model.Location)
    </div>
</div>