﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces.IStorable

<div class="panel panel-default ">
    <div class="panel-heading">
        @Html.LocalizedValueFor("Rights")
    </div>
    <div class="panel-body">
        @Html.LocalizedValueFor("Rights")
        <bss-rights-display id-source="@Html.PropertyReferenceFor(model => model.Id)" />
    </div>
</div>