﻿@using SolvesIt.BSSystem.Web.Areas.Common.Controllers.Api
@using SolvesIt.BSSystem.Web.Controllers
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.RoleDefinitionViewModel

<div class="col-xs-12 col-md-6 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Target)
        @Html.PropertyEditSelectorFor(
                     model => model.Target,
                     isEditableOnEdition: false,
                     source: Url.BssHttpRouteAngularExpression((RoleDefinitionController x) => x.GetRoleTargets()),
                     additionalViewData: new { required = true })
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyEditTextAreaFor(model => model.Comment)
    </div>
</div>