﻿<div class="btn-group" is-single-select="vm.attrs.singleSelect" style="width:100%"
     ad-popup-in-body template-url="'~/Content/Templates/Selector/Menu.tpl.html'" popup-menu-id="vm.menuId" is-open="vm.isOpen">

    <button class="btn btn-default selector"
            ng-disabled="vm.attrs.disabled"
            ng-required="vm.attrs.required"
            ng-if="vm.attrs.singleSelect === 'true' || vm.ngModel && vm.ngModel.length == 1"
            style="width:100%"
            ng-click="vm.toggle()">
        <span style="float:left">
            {{ vm.ngModel.displayName || vm.ngModel[0].displayName || vm.ngModel || ('Wybierz ' + (vm.attrs.singleElementName || 'element')) }}
        </span>
        <span class="caret" style="float:right;margin-top:8px;"></span>
    </button>
    <button class="btn btn-default"
            ng-disabled="vm.attrs.disabled"
            ng-required="vm.attrs.required"
            ng-if="(!vm.attrs.singleSelect || vm.attrs.singleSelect === 'false') && vm.ngModel && vm.ngModel.length != 1"
            style="width:100%"
            ng-click="vm.toggle()">
        <span style="float:left">Wybrano {{vm.ngModel ? vm.ngModel.length: 0}} {{vm.getElementName()}}.</span>
        <span class="caret" style="float:right;margin-top:8px;"></span>
    </button>
</div>