﻿<div ng-click="vm.preventPropagation($event)">
    <input type="text"
           class="form-control dropdown-menu-search"
           ng-model="vm.filterValue"
           ng-change="vm.filterChanged()">
    <ul role="menu"
        class="selector-list"
        aria-labelledby="dropdownMenu"
        style="padding:3px">
        <li ng-repeat="item in vm.items"
            style="display:table-row"
            data-ng-click="vm.itemSelected(item)"
            ng-class="{'active':vm.isSelected(item)}">
            <span ng-if="vm.entities" style="display:table-cell">
                <bss-actions kind="Details" entities="{{vm.entities}}" id="item.id"></bss-actions>
            </span>
            <a ad-compile-template="{{vm.itemTemplate}}"></a>
        </li>
        <li ng-if="vm.isLoadingData" class="text-overflow text-center" style="display: block">
            <a role="menuitem" tabindex="-1" href="">
                <ad-loading-icon></ad-loading-icon>
            </a>
        </li>
    </ul>
</div>