﻿<button type="button"
        ng-click="vm.updateState()"
        ng-style=" stylebtn"
        ng-disabled="vm.disabled"
        class="btn btn-xs btn-default">

    <span ng-style="styleicon"
          class="glyphicon"
          ng-class="{'glyphicon-ok': vm.isChecked === true,
          'glyphicon-space': vm.isChecked === false,
          'glyphicon-minus':vm.isChecked === undefined || vm.isChecked === null}"></span>
</button>