﻿<div>
    <div class="pull-left" ng-if="definition.isExpansionColumn">
        <a class='glyphicon'
           ng-class='{"glyphicon-plus":(item.hasChildren && !item.$$isExpanded && !item.$$isExpanding), "glyphicon-minus":(item.hasChildren && item.$$isExpanded && !item.$$isExpanding),empty:!item.hasChildren && !item.$$isExpanding, waiting:item.$$isExpanding}'
           ng-style='{"margin-left":item.$$level*16,"margin-right":5}' ng-click='vm.state.items.loader.toggleDisplay(item)'></a>
    </div>

    <div ng-if="definition.templateUrl">
        <div ad-bind-template-url-to-scope parameters="{item:item,definition:definition}" parent-scope="vm.parentScope" template-url="definition.templateUrl"></div>
    </div>
    <div ng-if="definition.template">
        <div ad-bind-template-to-scope parameters="{item:item,definition:definition}" parent-scope="vm.parentScope" template="definition.template"></div>
    </div>
    <div ng-if="!definition.templateUrl && !definition.template">
        {{ vm.readProperty(item, definition.displayProperty) }}
    </div>
</div>