﻿<body ng-app="bss" ng-controller="MainNavigationController as vm" resize notifier="vm.sizeChanged()">

    <div id="wrapper" style="display: none" auth-handler>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle menu-toggle" ng-click="vm.isSideMenuHidden = !vm.isSideMenuHidden">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{Globals.rootPath}}#/">
                    <img id="BSS-Logo" src="~/Content/images/bss-logo-dblue.png" />
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li ng-repeat="menuSection in state.menuSections |filter:{navigationPosition:2}" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-click="menuSection.isOpen=!menuSection.isOpen">
                        <i class="medium-icon  {{menuSection.iconName}}"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" ng-style="{display:menuSection.isOpen && 'block'}">
                        <li ng-repeat="menuItem in menuSection.menuItems">
                            @*href="{{Globals.rootPath}}#/{{menuSection.key}}/{{menuItem.key}}"*@
                            <a ng-click="vm.navigate(menuSection, menuItem)"
                               ng-class="{active:vm.isMenuItemActive(menuItem)}"
                               class="top-dropdown-menu-link"
                               title="{{menuItem.title}}">
                                <i class="small-icon {{menuItem.iconName}}"></i>
                                {{menuItem.title}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-click="vm.logout()">
                        <i class="medium-icon logout"></i>
                    </a>
                </li>
            </ul>

            <button type="button" class="navbar-toggle-lg menu-toggle" ng-click="vm.reverseSideMenuState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-default sidebar" role="navigation" ng-class="{'side-menu-toggle': vm.isSideMenuToggleOn}">
                <div class="sidebar-nav navbar-collapse" ng-class="{collapse:vm.isSideMenuHidden,'side-menu-toggle':vm.isSideMenuToggleOn}">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-breadcrumb-control">
                            
                        </li>

                        <li ng-repeat="menuSection in state.menuSections |filter:{navigationPosition:1}" ng-class="{active:menuSection.isOpen}">
                            <a href="{{Globals.rootPath}}#/{{menuSection.key}}" ng-click="vm.toggleVisibility(menuSection)">
                                <i class="large-icon  {{menuSection.iconName}}"></i>
                                {{menuSection.title}}

                                <i class="fa arrow"></i>
                            </a>
                            <ul class="nav nav-second-level @*collapse*@" @*ng-class="{in:menuSection.isOpen}"*@ @*aria-expanded="{{menuSection.isOpen}}"*@ uib-collapse="!menuSection.isOpen">
                                <li ng-repeat="menuItem in menuSection.menuItems">
                                    <a href="{{Globals.rootPath}}#/{{menuSection.key}}/{{menuItem.key}}"
                                       ng-class="{active:vm.isMenuItemActive(menuItem)}"
                                       title="{{menuItem.title}}">
                                        <i class="medium-icon {{menuItem.iconName}}"></i>
                                        {{menuItem.title}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" ng-style="{'min-height':vm.minHeight}" ng-class="{'side-menu-toggle':vm.isSideMenuToggleOn}">
            <div class="row" article-view-size="vm.minHeight">

                <ul class="breadcrumb">
                    <li ng-repeat="sectionCard in state.sectionCards"
                        ng-class="{active:vm.isSectionCardActive(sectionCard)}">
                        @*<i class="small-icon {{sectionCard.icon.toLowerCase()}}"></i>*@
                        <a href="{{Globals.rootPath}}#{{sectionCard.route}}">
                            <i class="small-icon {{sectionCard.icon.toLowerCase()}}"></i>
                            {{sectionCard.title}}
                        </a>
                        <span><a href="" class="small-icon delete" ng-class="{hidden:!sectionCard.canClose}" ng-click="sectionCard.close()"></a></span>
                    </li>
                </ul>

                <article id="Content" ng-view></article>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <script src="~/GeneratedScript/GeneratedScript" type="text/javascript"></script>
    
        @Scripts.Render("~/Bundles/Bss")
        @Scripts.Render("~/Content/tpls")
}
