﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.ActivityKindViewModel

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Name)
        @Html.PropertyEditorFor(model => model.Name)
    </div>
</div>