﻿<!DOCTYPE html>

<!--[if gt IE 6]>  <html class="ie"> <![endif]-->
<!--[if !(IE)]><!-->
<html>
<!--<![endif]-->
@{
    var rootPath = Url.Content("~");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BSSystem</title>
    <link rel="shortcut icon" href="@(rootPath+"favicon.ico")">

    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet/less\"/>", rootPath + "Content/BootstrapLess")
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet/less\"/>", rootPath + "Content/adaptLess")
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet/less\"/>", rootPath + "Content/sb-admin-2Less")
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet/less\"/>", rootPath + "Content/SiteLess")
    

    @Styles.Render("~/Content/css")
</head>
@RenderBody()

@Scripts.Render("~/Content/lessjs")
@Scripts.Render("~/Bundles/Lib")
@RenderSection("scripts", false)
</html>