﻿@model  SolvesIt.BSSystem.Web.ViewModels.Templates.BreadcrumbControlPanelTemplateModel

<div class="panel panel-default">
    <div class="panel-heading" ng-init="isCollapsed=false">
        <span>@Model.HeaderText</span>
        <button class="btn btn-xs btn-primary pull-right" ng-click="isCollapsed=!isCollapsed">
            <span class="glyphicon" ng-class="{'glyphicon-arrow-down':isCollapsed, 'glyphicon-arrow-up':!isCollapsed}"></span>
        </button>

    </div>
    <div uib-collapse="isCollapsed" class="panel-body sidebar-breadcrumb-control-content">
        @Html.Partial(Model.ContentViewName)
    </div>
</div>
