﻿@model SolvesIt.BSSystem.Web.ViewModels.Templates.DataCreatorTemplateModel
<div ng-controller="@Model.TypescriptController as vm"
     ng-init="vm.create('@Model.Permission'); section.title = '@Html.LocalizedValueFor("CreatorTitle_" + Model.Entities)'; section.entities='@Model.Entities'; section.icon='@Model.Entities'; section.ready();">
    <form novalidate name="formController">

        <ng-include src="'@Url.Action("DataEditor")'"></ng-include>

        <div class="col-md-12 form-group">
            <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!formController.$valid">@Html.LocalizedValueFor("Save")</button>

            <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
        </div>
    </form>
</div>