﻿@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.ViewModels.Templates.DetailsPanelTemplateModel

<div class="col-xs-12 col-md-12 col-lg-12"
     ng-controller="detailsPanelController as vm"
     ng-init="vm.initialize('@Model.Entities' + 'DetailsPanel', '@Model.DisplayPermissionPath', '@Model.EditPermissionPath')">
    <div class="panel panel-default" ng-if="vm.state.canDisplay && vm.state.isEditionOpen === false" ng-init="section = $parent.vm.detailsSection;">
        <div class="panel-heading">
            <bss-actions kind='{pencil:"vm.openEdition()"}'
                         ng-if="vm.state.canEdit"
                         class='pull-right'>
            </bss-actions>
            <bss-actions kind='{pencil:"vm.openEdition()"}'
                         ng-if="vm.state.canEdit"
                         class='pull-left left-edit'>
            </bss-actions>
            @Html.LocalizedValueFor("DetailsDisplayTitle_" + Model.Entities)
        </div>
        <div class="panel-body"
             ng-controller="@Model.DetailsTypescriptController as vm"
             ng-init="vm.display(); section.ready();"
             ng-include="'@Url.Action(Model.DetailsAction, Model.Controller)'">
        </div>
    </div>
    <form novalidate name="formController" ng-if="vm.state.isEditionOpen === true" ng-init="section = $parent.vm.editSection;">
        <div class=" panel panel-default">
            <div class="panel-heading">
                @Html.LocalizedValueFor("DetailsEditTitle_" + Model.Entities)
            </div>
            <div class="panel-body" ng-controller="@Model.EditTypescriptController as vm" ng-init="vm.edit(); section.ready();">
                <ng-include src="'@Url.Action(Model.EditAction, Model.Controller)'"></ng-include>
                <div class="col-md-12 form-group">
                    <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!formController.$valid">@Html.LocalizedValueFor("Save")</button>

                    <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
                </div>
            </div>
        </div>
    </form>
</div>
