﻿@using Qdarc.Modules.Common.Utils
@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.ViewModels.Templates.DetailsTemplateModel

<div ng-init="section.entities = '@Model.Entities'; section.icon='@Model.Entities'; section.ready(); ">

    <div ng-include="'@Url.Action("DetailsPanel")'"></div>

    <div class="col-xs-12 col-md-12 col-lg-12 form-group">
        @foreach (var command in Model.Commands)
        {
            <button class="btn btn-primary"
                    ng-controller="@command.TypescriptController as vm"                   
                    ng-click="vm.@(new HtmlString(command.ExecuteMethodFactory()))">
                @command.Name()
            </button>
        }
    </div>

    @foreach (var panel in Model.Panels)
    {
        <div class="col-xs-12 col-md-12 col-lg-12"
             @(new HtmlString(panel.TypescriptController != null ? "ng-controller='" + panel.TypescriptController + " as vm'" : ""))
             ng-init="vm.initialize('@panel.DisplayPermission', '@panel.EditPermission', [@string.Join(", ", panel.Modules.EmptyIfNull().Select(x=>string.Format("\"{0}\"",x)))])"
             ng-include="'@Url.Action(panel.Action, panel.Controller, panel.RouteValues)'">
        </div>
    }


</div>