﻿@model  SolvesIt.BSSystem.Web.ViewModels.Core.EntitiesListTemplateViewModel

<div ng-init="section.title='@Html.LocalizedValueFor("ListTitle_" + Model.Entities)'; section.entities='@Model.Entities';section.icon='@Model.Entities'; section.casheKey='@(Model.Entities + "ListController")'; section.ready();">
    <div class="panel panel-default">
        <div class="panel-body">

            <bss-table bss-table-state-cache="section.casheKey"
                       bss-table-ajax-columns-definition-source="'@Model.ColumnsSource'"
                       can-configure="true"
                       bss-table-ajax-paging-data-source="'@Model.DataSource'"
                       page-sizes="[20, 50, 100]">
            </bss-table>
        </div>
    </div>

</div>