﻿@using SolvesIt.BSSystem.Core.Abstraction.DataAccess.Interfaces
@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.ViewModels.Core.RelationDetailsPanelTemplateViewModel

<div class="panel panel-default" ng-if="!vm.state.isEditionOpen && vm.state.canDisplay">
    <div class="panel-heading">
        <bss-actions kind='{pencil:"vm.edit()"}'
                     ng-if="vm.state.canEdit"
                     class='pull-right'>
        </bss-actions>
        <bss-actions kind='{pencil:"vm.edit()"}'
                     ng-if="vm.state.canEdit"
                     class='pull-left left-edit'>
        </bss-actions>
        @Html.LocalizedValueFor("RelationDisplay_" + Model.Elements)
    </div>
    <div class="panel-body">
        <div class="form-group">
            <bss-assignment-display cache-id="vm.displayerCacheId"
                                    entities="@Model.Entities"
                                    elements="@Model.Elements"
                                    id-source="@Html.PropertyReferenceFor((IStorable section) => section.Id)">
            </bss-assignment-display>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="vm.state.isEditionOpen && vm.state.canDisplay && vm.state.canEdit">
    <div class="panel-heading">
        @Html.LocalizedValueFor("RelationEdit_" + Model.Elements)
    </div>
    <div class="panel-body">
        <form novalidate name="formController">
            <bss-assignment-editor form-controller="formController"
                                   cache-id="vm.editorCacheId"
                                   ng-model="vm.state.selected"
                                   entities='@Model.Entities'
                                   elements="@Model.Elements"
                                   dates-range-restriction="vm.state.model"
                                   @(new HtmlString(Model.CanAssignRole ? "role-management='true'" : ""))
                                   @(new HtmlString(Model.CanAssignJobTime ? "job-time-management='true'" : ""))
                                   validation-errors="vm.state.assignmentsErrors"></bss-assignment-editor>

            <div class="col-md-12 form-group">
                <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!formController.$valid">@Html.LocalizedValueFor("Save")</button>
                <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
            </div>
        </form>

    </div>
</div>