﻿@using SolvesIt.BSSystem.Web.Properties
<span ng-message="number"><i class='glyphicon glyphicon-warning-sign'></i>&nbsp;<span>@WebResources.Validation_ValueMustBeANumber</span></span>
<span ng-message="required"><i class='glyphicon glyphicon-warning-sign'></i> &nbsp; <span>@WebResources.Validation_Required</span></span>
<span ng-message="displayNameUniqueness"><i class='glyphicon glyphicon-warning-sign'></i>&nbsp;<span>@WebResources.Validation_DisplayNameNotUnique</span></span>
<span ng-message="dateRangeInvalid"><i class='glyphicon glyphicon-warning-sign'></i>&nbsp;<span>@WebResources.Validation_DateRangeOverlap</span></span>
<span ng-message="server/DateOverlapError"><i class='glyphicon glyphicon-warning-sign'></i>&nbsp;<span>@WebResources.Validation_DateOverlapError</span></span>
<span ng-message="server/DateErrorRole"><i class='glyphicon glyphicon-warning-sign'></i>&nbsp;<span>@WebResources.Validation_DateErrorRole</span></span>

