﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Areas.Wtt.Controllers.Api
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@using SolvesIt.BSSystem.WttModule.Abstraction.DataAccess.Entities
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

@{
    var modelDate = Html.PropertyReferenceFor(model => model.Date);
}

<div ng-controller="ownEntryDetailsCreatorController as vm"
     ng-init="vm.create(); section.title = '@Html.LocalizedValueFor("CreatorTitle_OwnEntry")'; section.entities='OwnEntry'; section.icon='OwnEntry'; section.ready();">
    <form novalidate name="formController">
        <div>
            <div>
                <div class="form-group col-xs-6">
                    @Html.LocalizedLabelFor(model => model.Topic)
                    @Html.PropertyEditSelectorFor(model => model.Topic,
                    additionalViewData:
                        new
                        {
                            ng_disabled = "!" + modelDate,
                            ng_change = "vm.topicChanged()",
                            entities = typeof(Topic).Name,
                        },
                    source: Url.BssHttpRouteAngularExpression((TopicController c) => c.Get()))
                </div>
                <div class="form-group col-xs-6">
                    @Html.LocalizedLabelFor(model => model.Activity)
                    @Html.PropertyEditSelectorFor(model => model.Activity,
                    additionalViewData:
                                 new { ng_disabled = "!" + modelDate + "||!" + Html.PropertyReferenceFor(model => model.Topic), entities = typeof(Activity).Name },
                    source: "vm.activitiesSource")
                </div>
            </div>
            <div class="form-group">
                @Html.LocalizedLabelFor(model => model.Comment)
                @Html.PropertyEditTextAreaFor(model => model.Comment)
            </div>
        </div>
        <div class="col-md-12 form-group">
            <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!formController.$valid">@Html.LocalizedValueFor("Save")</button>

            <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
        </div>
    </form>
</div>