﻿<div ng-init="section.title='@Html.LocalizedValueFor("ListTitle_OwnEntryCalendar")';section.ready();" entities="OwnEntryCalendar"
     ng-controller="ownEntriesCalendarController as vm"
     ad-inject-template
     template-url="'@Url.Action("CalendarBreadcrumbControlPanel")'"
     target-selector=".sidebar-breadcrumb-control">
    <div class="panel panel-default">
        <div class="panel-body">

            <div bss-calendar="vm.state.displayCriteria"
                 ng-model="vm.state.calendarModel"
                 bss-calendar-ajax-data-source="OwnEntry"
                 bss-calendar-view-kind-selector
                 bss-calendar-proportional-items-distributor
                 on-item-resize="vm.onItemResize(args)"
                 bss-calendar-state-cache="vm.calendarCacheId"
                 bss-calendar-selection-as-proportional-phantom-item-displayer>
            </div>
        </div>
    </div>
</div>