﻿@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Properties
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

<div class="panel panel-default"
     ng-init="vm.phantomItem = item;"
     ng-style="{'background-color': '#FFFFFF', overflow:'hidden', width:'100%', height:'100%', margin:0}">
    <div class="panel-heading"
         style="padding: 1px 5px 1px 5px"
         ng-style="{'background-color': 'rgb(210, 200, 200)'}">
        <table style="width: 100%; vertical-align: top">
            <tr>
                <td colspan="2"
                    style="vertical-align: middle">
                    <div ng-bind="vm.formatMinutes(item.length)"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body"
         style="padding: 3px 5px 1px 5px">
    </div>
    <div ad-popup-in-body
         parameters="{section:vm.creatorSection}"
         template-url="'@Url.Action("CalendarDataCreator")'"
         is-open="vm.isCreatorOpen"></div>
</div>