﻿@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Properties
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

<div ad-popup-in-body
     popup-style="width:400px"
     anchor-vertically="{{vm.isLastDayOfWeek(item)?'right':'left'}}"
     parameters="{model:item}"
     template-url="'~/Wtt/OwnEntryTemplates/DailyCalendarItem'"
     ng-click="item.isOpen = !item.isOpen"
     ng-init="item.isOpen=false"
     is-open="item.isOpen"
     class="panel panel-default"
     ng-style="{'background-color':@Html.PropertyReferenceFor(item=>item.Color) || '#FFFFFF', overflow:'hidden', width:'100%', height:'100%', margin:0}">
    Small
</div>