﻿@using SolvesIt.BSSystem.Web
@using SolvesIt.BSSystem.Web.Areas.Wtt.Controllers.Api
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@using SolvesIt.BSSystem.WttModule.Abstraction.DataAccess.Entities
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

@{
    var modelDate = Html.PropertyReferenceFor(model => model.Date);
}

<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Date)
        @Html.PropertyEditorFor(model => model.Date, additionalViewData: new { ng_change = "vm.dateChanged()" })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Topic)
        @Html.PropertyEditSelectorFor(model => model.Topic,
                 additionalViewData:
                    new
                    {
                        ng_disabled = "!" + modelDate,
                        entities = typeof(Topic).Name,
                        ng_change = "vm.topicChanged()",
                        base_ajax_call_configuration = "vm.topicConfiguration"
                    },
                source: Url.BssHttpRouteAngularExpression((TopicController c) => c.Get()))
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Activity)
        @Html.PropertyEditSelectorFor(model => model.Activity,
                 additionalViewData:
                             new
                             {
                                 ng_disabled = "!" + modelDate + "||!" + Html.PropertyReferenceFor(model => model.Topic),
                                 entities = typeof(Activity).Name,
                                 base_ajax_call_configuration = "vm.activityConfiguration"

                             },
                 source: "vm.activitiesSource")
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Minutes)
        @Html.PropertyEditorFor(model => model.Minutes)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Comment)
        @Html.PropertyEditTextAreaFor(model => model.Comment)
    </div>
</div>