﻿@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Properties
@model SolvesIt.BSSystem.Web.Areas.Wtt.ViewModels.EntryViewModel

<div ad-popup-in-body
     popup-style="width:400px"
     anchor-vertically="{{vm.isLastDayOfWeek(item)?'right':'left'}}"
     parameters="{model:item}"
     template-url="'~/Wtt/OwnEntryTemplates/DailyCalendarItem'"
     ng-click="item.isOpen = !item.isOpen"
     ng-init="item.isOpen=false"
     is-open="item.isOpen"
     class="panel panel-default"
     ng-style="{'background-color':@Html.PropertyReferenceFor(item => item.Color) || '#FFFFFF', 'font-size':'0.8em', overflow:'hidden', width:'100%', height:'100%', margin:0}">
    <div class="panel-heading" style="padding: 1px 5px 1px 5px" ng-style="{'background-color':@Html.PropertyReferenceFor(item=>item.Color) || '#FFFFFF'}">
        <table style="width: 100%; vertical-align: top">
            <tr>
                <td colspan="2" style="vertical-align: middle">
                    <div ng-bind="vm.formatMinutes(@Html.PropertyReferenceFor(item => item.Minutes))"></div>
                </td>
                <td style="padding-left: 10px; width: 99%">
                    <bss-actions kind='Details' entities='OwnEntry' id='@Html.PropertyReferenceFor(item=>item.Id)' class="pull-right"></bss-actions>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body" style="padding: 3px 5px 1px 5px">
        <table style="width: 100%; height:100%;">
            <tr>
                <td>
                    <div ng-bind="@Html.PropertyReferenceFor(item=>item.Topic.DisplayName)"></div>
                </td>
                <td style="padding-left: 5px; ">
                    <div ng-bind="@Html.PropertyReferenceFor(item => item.Activity.DisplayName)"></div>
                </td>
            </tr>
        </table>
    </div>
</div>