﻿@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.Templates.PermissionAssignmentTemplateModel

<div class="panel panel-default" ng-if="vm.state.canDisplay && (!vm.state.isEditionOpen || !vm.state.canEdit) && vm.state.arePermissionsResolved">
    <div class="panel-heading">
        <bss-actions kind='{pencil:"vm.edit()"}'
                     ng-if="vm.state.canEdit"
                     class='pull-right'>
        </bss-actions>
        <bss-actions kind='{pencil:"vm.edit()"}'
                     ng-if="vm.state.canEdit"
                     class='pull-left left-edit'>
        </bss-actions>
        @Html.LocalizedValueFor("RightsAssignmentDetails_" + Model.Entities)
    </div>
    <div class="panel-body">
        <div class="form-group">
            <bss-table bss-table-array-columns-definition-source="vm.state.columnDefinition"
                       page-sizes="[5, 10, 20]"
                       bss-table-hierarchical-data-source="vm.state.permissions.items"></bss-table>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="vm.state.isEditionOpen && vm.state.canEdit && vm.state.arePermissionsResolved">
    <div class="panel-heading">
        @Html.LocalizedValueFor("RightsAssignmentEdit_" + Model.Entities)
    </div>
    <div class="panel-body">
        <form novalidate name="formController">
            <bss-table bss-table-array-columns-definition-source="vm.state.editColumnDefinition"
                       page-sizes="[5, 10, 20]"
                       bss-table-hierarchical-data-source="vm.state.permissions.items"></bss-table>
        </form>

        <div class="col-md-12 form-group">
            <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!formController.$valid">@Html.LocalizedValueFor("Save")</button>
            <button class="btn  btn-warning" ng-click="vm.cancel()">@Html.LocalizedValueFor("Cancel")</button>
        </div>
    </div>
</div>