﻿<div class='input-group'>
    <span class='input-group-addon checkbox-nullable'>
        <checkbox class='btn-default' ng-disabled="vm.isRequired" ng-model='vm.checked' ng-change='vm.change()'></checkbox>
    </span>
    <div ng-include="vm.editorTemplate"> </div>
</div>