﻿@using SolvesIt.BSSystem.Web.Areas.Common.Controllers.Api
@using SolvesIt.BSSystem.Web.Controllers
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Extensions.Route
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.CustomFieldDefinitionViewModel

<div class="col-md-4">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyEditorFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.TableKey)
        @Html.PropertyEditSelectorFor(model => model.TableKey,
        isEditableOnEdition: false,
                          source: Url.BssHttpRouteAngularExpression((CustomFieldDefinitionController x) => x.GetSignTargets()))
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyEditorFor(model => model.DateStart, additionalViewData: new { max_date = Html.PropertyReferenceFor(model => model.DateEnd) })
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyEditorFor(model => model.DateEnd, additionalViewData: new { min_date = Html.PropertyReferenceFor(model => model.DateStart) })
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsRequired)
        @Html.PropertyEditorFor(model => model.IsRequired)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsEditable)
        @Html.PropertyEditorFor(model => model.IsEditable)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsInViews)
        @Html.PropertyEditorFor(model => model.IsInViews)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsNullable)
        @Html.PropertyEditorFor(model => model.IsNullable)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsUnique)
        @Html.PropertyEditorFor(model => model.IsUnique)
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.Schema)
        @Html.PropertyEditorFor(model => model.Schema, isEditableOnEdition: false)
    </div>
    <div>

        <button type="button" class="btn btn-info col-md-12 col-md-12 col-sm-12 vertical-stack"
                ng-repeat="terminal in vm.terminals" tooltip="{{ terminal.description}}">
            {{terminal.name}} {{terminal.template}}
        </button>
    </div>
</div>