﻿@using SolvesIt.BSSystem.Web.Extensions
@model SolvesIt.BSSystem.Web.Areas.Common.ViewModels.CustomFieldDefinitionViewModel

<div class="col-xs-12 col-md-6 col-lg-6">
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DisplayName)
        @Html.PropertyDisplayFor(model => model.DisplayName)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.TableKey)
        @Html.PropertyDisplayFor(model => model.TableKey)
    </div>

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateStart)
        @Html.PropertyDisplayFor(model => model.DateStart)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.DateEnd)
        @Html.PropertyDisplayFor(model => model.DateEnd)
    </div>
</div>

<div class="col-xs-12 col-md-6 col-lg-6">

    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsRequired)
        @Html.PropertyReferenceForBoolean(model => model.IsRequired)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsEditable)
        @Html.PropertyReferenceForBoolean(model => model.IsEditable)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsInViews)
        @Html.PropertyReferenceForBoolean(model => model.IsInViews)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsNullable)
        @Html.PropertyReferenceForBoolean(model => model.IsNullable)
    </div>
    <div class="form-group">
        @Html.LocalizedLabelFor(model => model.IsUnique)
        @Html.PropertyReferenceForBoolean(model => model.IsUnique)
    </div>
</div>