﻿@using SolvesIt.BSSystem.Web.Properties
<div ng-switch="item.jobKind">
    <div ng-switch-when="1">@WebResources.JobKind_None</div>
    <div ng-switch-when="2">@WebResources.JobKind_RegularPost</div>
    <div ng-switch-when="3">@WebResources.JobKind_Hours</div>
</div>