﻿<div ng-messages="vm.formController['@Html.Encode(Model)/' + item.id].$error" class='alert alert-warning' role='alert'>
    <div ng-messages-include='~/AssignmentTemplates/ValidationMessages'>
    </div>
</div>