﻿@using SolvesIt.BSSystem.Web.Controllers
@using SolvesIt.BSSystem.Web.Controllers.Api
@using SolvesIt.BSSystem.Web.Extensions
@using SolvesIt.BSSystem.Web.Properties
@model SolvesIt.BSSystem.Web.ViewModels.Core.AuthenticationViewModel

<div class="container" ng-controller="logonController as vm">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img id="BSS-Logo" src="~/Content/images/bss-logo-dblue.png"></h3>
                </div>
                <div class="validationSummary" ng-bind="model.validationError">

                </div>
                <div class="panel-body">
                    <form novalidate="" name="formController">
                        <div class="form-group">
                            @Html.PropertyEditorFor(model => model.Login, additionalViewData: new
                        {
                            placeholder = Html.LocalizedValueFor(model => model.Login),
                            autofocus = true,
                            @class = "form-control",
                            required = true
                        })

                        </div>
                        <div class="form-group">
                            @Html.PropertyEditorFor(model => model.Password,
                            kind: InputKind.Password,
                            additionalViewData:
                                new
                                {
                                    ng_enter = "vm.onSubmit()",
                                    placeholder = Html.LocalizedValueFor(model => model.Password),
                                    @class = "form-control",
                                    required = true
                                })
                        </div>

                        <input type="submit"
                               ng-disable="formController.$invalid"
                               class="btn btn-lg btn-success btn-block"
                               value="@WebResources.LogOn"
                               ng-click="vm.onSubmit()">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>