﻿@model SolvesIt.BSSystem.Web.ViewModels.Core.AuthenticationViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="bssLogon" style="display: none">
    @Html.Partial("LogonPanel")
</div>
@section Scripts {
    <script type="text/javascript">
        Globals = {
            rootPath: '@Url.Content("~")'
        };
    </script>
    @Scripts.Render("~/Bundles/LogOn")
}
