﻿<span class="glyphicon glyphicon-arrow-up" ng-click="vm.moveUp(item)" ng-hide="vm.isFirst(item)"></span>
<span class="glyphicon glyphicon-arrow-down" ng-click="vm.moveDown(item)" ng-hide="vm.isLast(item)"></span>