﻿<table class="bss-calendar-grid-background" style="height: 100%; width:100%">
    <thead>
        <tr>
            <th class="bss-calendar-grid-column-header">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bss-calendar-bachground-master-unit" ng-repeat="unit in vm.state.viewKind.units" ng-style="unit.styles">
            <td>
                <div>
                    <div ng-if="(unit.id+1)%2==0" ng-bind="(unit.id+1)/2"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>