﻿<div>
    <div class="bss-calendar-item"
         ng-repeat="distributedItem in cell.items"
         ng-class="distributedItem.classes"
         ng-style="distributedItem.styles"
         ng-include="vm.itemWrapperTemplate">
    </div>
</div>