﻿<div style="padding: 2px">
    <span style="font-weight: bold;padding-left: 1px; font-size: 1.1em"> {{cell.date | dateFormatter:'D MMM'}}</span>
    <bss-actions kind='{plus:"vm.addOwnEntry()"}' class="pull-right"></bss-actions>
</div>