﻿<div>
    <div>
        <div ad-bind-template-url-to-scope parent-scope="vm.parentScope"
             style="width:100%; height:100%"
             parameters="{cell:cell}"
             template-url="vm.state.displayCriteria.viewKindsConfiguration[vm.state.viewKind.name].cellHeaderTemplateUrl">
        </div>
    </div>
    <div class="bss-calendar-item"
         ng-repeat="distributedItem in cell.items"
         ng-class="distributedItem.classes"
         ng-style="distributedItem.styles"
         ng-include="vm.itemWrapperTemplate">
    </div>
</div>